<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Constance - Beverage</title>
    <link href="../style.css" rel="stylesheet">
    <script src="../index.js"></script>
    <script src="https://kit.fontawesome.com/e1c4074796.js" crossorigin=""></script>
    <link rel="icon" type="image/x-icon" href="../Images/Logo.PNG">
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">

</head>

<body>
    <div class="grid-container">
        <header id="home">
            <div class="bg-img-index">
                <nav id="main-nav" class="overlay">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <div class="overlay-content">
                        <a href="#">HOME</a>
                        <a href="gallery.html">GALLERY</a>
                        <a href="#">SHOP</a>
                        <a href="#">CONTACT</a>
                    </div>
                </nav>
                <span class="burger" onclick="openNav()"><i class="fas fa-wine-glass-alt"></i></span>
                <h1 class="text-header">THE BEST IDEAS<br> EMERGE FROM THE <br> SIMPLEST TOOLS</h1>
            </div>
        </header>
        <main>
            <section class="Text-first">
                <article>
                    <h1 class="textmainh1">THERE IS A STORY BEHIND EVERY BEVERAGE</h1>
                    <p class="textmainp">Constance Beverage is a women-founded & women-led craft brewery in Gothenburg,
                        Sweden. Our shared vision was to create a beverage company that speaks to women. Our goal with
                        our website is to draw visitors in to learn more about our offerings, vision & taste. </p>
                </article>
            </section>

            <section class="cards">
                <article>
                    <header class="redwine"></header>
                    <h1>RED WINE</h1>
                    <p>Bottles that have animals on the label are known as “Critter Wine”.</p>
                </article>
                <article>
                    <header class="champagne"></header>
                    <h1>CHAMPAGNE</h1>
                    <p>There are about 49 million bubbles in a 7500ml bottle of Champagne.</p>
                </article>
                <article>
                    <header class="beer"></header>
                    <h1>BEER</h1>
                    <p>Dating back to 5,000 BC, beer is one of the oldest beverages in the world.</p>
                </article>
            </section>
            <section class="textundercards">
                <article>
                    <h1 class="text1wine">“I love everything that is old - old friends, old times, old manners, old
                        books, old wines.”</h1>
                    <p class="text2wine">- WineLover</p>
                </article>
            </section>

            <section class="gallery-imgs">
                <figure class="gallery-imgs__image"><img src="../images/drink1.jpg" alt="drink1"></figure>
                <figure class="gallery-imgs__image"><img src="../images/drink2.jpg" alt="drink2"></figure>
                <figure class="gallery-imgs__image"><img src="../images/drink10.jpg" alt="drink2"></figure>
                <figure class="gallery-imgs__image"><img src="../images/drink11.jpg" alt="drink3"></figure>
                <figure class="gallery-imgs__image"><img src="../images/drink3.jpg" alt="drink4"></figure>
                <figure class="gallery-imgs__image"><img src="../images/drink12.jpg" alt="drink5"></figure>
                <figure class="gallery-imgs__image"><img src="../images/drink3.jpg" alt="drink6"></figure>
                <figure class="gallery-imgs__image"><img src="../images/drink4.jpg" alt="drink7"></figure>
                <figure class="gallery-imgs__image"><img src="../images/drink5.jpg" alt="drink8"></figure>
                <figure class="gallery-imgs__image"><img src="../images/drink6.jpg" alt="drink9"></figure>
                <figure class="gallery-imgs__image"><img src="../images/drink7.jpg" alt="drink10"></figure>
                <figure class="gallery-imgs__image"><img src="../images/drink8.jpg" alt="drink11"></figure>
            </section>

            <section class="textanimation">
                <h1>HERE IS
                    <span class="txt-rotate" data-period="2000"
                        data-rotate='[ "THE TEAM!", "HEART BEHIND EVERYTHING." ]'></span>
                </h1>
            </section>

            <section class="cardsteam">
                <article>
                    <header class="Cleoportrait"></header>
                    <h1>Cleo Ross</h1>
                    <p class="title">Microbiologist/chemist</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                </article>
                <article>
                    <header class="Amandaportrait"></header>
                    <h1>Amanda Bright</h1>
                    <p class="title">Manager & Engineer</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                </article>
                <article>
                    <header class="Blakeportrait"></header>
                    <h1>Blake Cannon</h1>
                    <p class="title">Sales and Marketing</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                </article>
            </section>
        </main>
        <footer>
            <a href="#home"><i class="fas fa-home"></i></a>
            <a href="https://www.youtube.com/watch?v=DeXa9L-jOWo"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fas fa-heart"></i></a>
        </footer>


    </div>

</body>

</html>